.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.App-header {
  background-color: #F8F8F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}